{
  "extends": ["eslint:recommended", "plugin:vue/vue3-recommended", "prettier"],
  "root": true,
  "env": {
    "node": true,
    "vue/setup-compiler-macros": true
  },
  "rules": {
    "@eslint/interface-name-prefix": "off",
    "@eslint/explicit-function-return-type": "off",
    "@eslint/explicit-module-boundary-types": "off",
    "@eslint/no-explicit-any": "off"
  }
}
